.tr{
    padding: 15px;
    border: 1px solid rgb(247, 243, 243);
    color: blueviolet;
}
.per-player{
    width: 60%;
}
.btn-calculate{
    padding: 5px 25px;
    margin-left: 60px;
    margin-bottom: 15px;
}